@namespace RankMonkey.Client.Components
@inject IJSRuntime JSRuntime
@implements IDisposable

<p>Current render mode: @_renderMode</p>

@code {
    private string _renderMode = "Server";
    private DotNetObjectReference<RenderModeIndicator>? _objectReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objectReference = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("registerRenderModeCallback", _objectReference);
        }
    }

    [JSInvokable]
    public void UpdateRenderMode()
    {
        _renderMode = "WebAssembly";
        StateHasChanged();
    }

    public void Dispose()
    {
        _objectReference?.Dispose();
    }
}