@page "/login"
@page "/login/{ReturnUrl}"
@attribute [AllowAnonymous]

@using RankMonkey.Client.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.AspNetCore.Authorization

@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage
@inject ILogger<Login> Logger
@inject IConfiguration Configuration
@inject System.Text.Json.JsonSerializerOptions JsonOptions
@inject IWebAssemblyHostEnvironment Env

<h1>Welcome to RankMonkey</h1>

<AuthorizeView>
    <Authorized>
        <p>You are already logged in. Redirecting to ranking page...</p>
    </Authorized>
    <NotAuthorized>
        <p>Please sign in to use the app.</p>
        <div id="googleSignInButton"></div>
        @if (Env.IsDevelopment())
        {
            <button @onclick="LoginAsGuest" class="btn btn-secondary">Sign In As Guest</button>
        }
    </NotAuthorized>
</AuthorizeView>